<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
<mat-toolbar-row>
  <span>Custom Toolbar</span>
</mat-toolbar-row>
<mat-toolbar-row>
  <span>Second Line</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
</mat-toolbar-row>
<div class="container">
  <h1  class="title"> FICHE </h1>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="etudiant"
        class="m-1 btn btn-light btn-outline-primary" Button>Etudiant</button>
      </li>

      <li class="nav-item">
        <button routerLink="recruteur"
        class="m-1 btn btn-light btn-outline-primary" Button>Recruteur</button>
      </li>

      <li class="nav-item">
        <button routerLink="responsable"
        class="m-1 btn btn-light btn-outline-primary" Button>Responsable</button>
      </li>
    </ul>
  </nav>
</div>
