<h1>FICHE DE RENSEIGNEMENTS POUR 'numero etudiant'</h1>

<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel><b>Etudiant</b></ng-template>
    <app-etudiant></app-etudiant>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><b>Etablissement</b></ng-template>
    <app-etablissement></app-etablissement>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><b>Stage</b></ng-template>
    <app-stage></app-stage>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel><b>FIN</b></ng-template>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
</mat-horizontal-stepper>
