<form [formGroup]="etabForm" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>COORDONNEES ETABLISSEMENT D'ACCUEIL DU STAGIAIRE</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-form-field--inline">
      <div>
        <div>
          <mat-form-field class="full-width"  style="width:400px !important">
            <mat-label>Raison sociale:</mat-label>
            <input formControlName="raisonSociale" matInput placeholder="Raison sociale" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width"  style="width:300px !important">
            <mat-label>Representation Legal:</mat-label>
            <input formControlName="representationLegal" matInput placeholder="Representation Legal" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>fonction:</mat-label>
            <input formControlName="fonction" matInput placeholder="fonction" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width">
            <mat-label>No de Siret:</mat-label>
            <input formControlName="noSiret" matInput placeholder="No de Siret" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Code APE:</mat-label>
            <input formControlName="codeAPE" matInput placeholder="1234X" required>
          </mat-form-field>

          <mat-form-field class="full-width" style="width:400px !important">
            <mat-label>Domaine d'activité:</mat-label>
            <input formControlName="domaineDAct" matInput placeholder="Domaine d'activité" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Effectif:</mat-label>
            <input type="number" formControlName="effectif" matInput placeholder="Effectif" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width" style="width:250px !important">
            <mat-label>Adresse:</mat-label>
            <input formControlName="adresse" matInput placeholder="Adresse" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Code Postale:</mat-label>
            <input formControlName="codepostale" matInput placeholder="Code Postal" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Ville:</mat-label>
            <input formControlName="ville" matInput placeholder="Ville" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Pays:</mat-label>
            <input formControlName="pays" matInput placeholder="Pays" required>
          </mat-form-field>
        </div>
        <form [formGroup]="adresseForm" class="form-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Service d'accueil du stagiaire</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-form-field--inline">
              <div>
                <mat-form-field class="full-width" style="width:250px !important">
                  <mat-label>Adresse:</mat-label>
                  <input formControlName="adresse" matInput placeholder="Adresse">
                  <mat-hint>Préciser l'adresse si différente  de l'organisme</mat-hint>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Code Postale:</mat-label>
                  <input formControlName="codepostale" matInput placeholder="Code Postal">
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Ville:</mat-label>
                  <input formControlName="ville" matInput placeholder="Ville">
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Pays:</mat-label>
                  <input formControlName="pays" matInput placeholder="Pays" >
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <div>
          <h2>Service assurant la gestion des stagiaires (RH)</h2>
          <mat-form-field class="full-width">
            <mat-label>NOM:</mat-label>
            <input formControlName="nomRH" matInput required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Prénom:</mat-label>
            <input formControlName="prenomRH" matInput required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width">
            <mat-label>Tél:</mat-label>
            <input formControlName="numTelephRH" matInput required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <mat-label>Email:</mat-label>
            <input formControlName="emailRH" matInput required>
          </mat-form-field>
        </div>
        <form [formGroup]="adresseForm" class="form-container">
          <mat-card>
            <mat-card-content class="mat-form-field--inline">
              <div>
                <mat-form-field class="full-width" style="width:250px !important">
                  <mat-label>Adresse:</mat-label>
                  <input formControlName="adresse" matInput placeholder="Adresse" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Code Postale:</mat-label>
                  <input formControlName="codepostale" matInput placeholder="Code Postal" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Ville:</mat-label>
                  <input formControlName="ville" matInput placeholder="Ville" required>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <mat-label>Pays:</mat-label>
                  <input formControlName="pays" matInput placeholder="Pays" required>
                </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        </form>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
