
#etudiants {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#etudiants td, #etudiants th {
  border: 1px solid #ddd;
  padding: 8px;
}

#etudiants tr:nth-child(even){background-color: #f2f2f2;}

#etudiants tr:hover {background-color: #ddd;}

#etudiants th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
